@import "tailwindcss";


body {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
  
  }
  

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  